
 .input{
   max-width: 30%;
 }
 
h1 {
  font-size: 40px !important;
  margin-top: 125px !important;
  margin-bottom: 20px !important;
  text-align: center;
}
 h2{
  font-size: 40px !important;
  margin-top: 125px !important;
  
  text-align: center;
 }
.imageText{
 z-index: 1;
 margin-bottom: 20px;
}
 
  img {
    position: relative;
    left: 0;
    right: 0;
    margin: auto; 
    height:50px !important;
  
   
 }
 
#middle{
  text-align: left;
  position: center;
  margin: 0 auto;
  margin-top: 30px;
  position: horizontal;
  
}
 .btn.btn-submit{
   background-color: #e62aff;
   color: white;
   margin-bottom: 10px;
   margin-left: 12px;
 }
textarea:hover , input:hover{
  box-shadow: 0 0 1em cyan !important;
}

body{
  font-family: 'Saira Semi Condensed', sans-serif !important;
}

.fa-square{
  color: rgba(35, 231, 231, 0.726);
}
.card:hover{
 border-color:1px solid red;
}

.card{
width: 20rem ;
margin-bottom: 20px;
margin-right: 20px;
text-align: center;
display: inline-block !important;
}

.card-body{
 display: inline;
 text-align: center;
 position: center;
 margin: 0 auto;
 
}

#editTrade{
  float: left;
}

.container{
  width: 100%;
}


.card-title{
font-size:24px;
text-align: left;
position: center;
margin: 0 auto;
margin-top: 30px;
}

.editTrade,.card-title{
  display:inline-block;
}

.card-link{
  text-align: left;
  position: center;
  margin: 0 auto;
  margin-top: 30px;
  
}

.edit-link{
  text-align: left;
  position: fixed;
  margin: 0 auto;
  
}

.nav-link, .nav-item {
  color: black !important;
  font-size:20px;
  text-align: block;
}
.nav-link:hover, .nav-item:hover{
  color:cyan !important;
}
.navbar-brand{
  color:black !important;
}

.navbar{
  -webkit-box-shadow: 0 8px 6px -6px #999 ;
  -moz-box-shadow: 0 8px 6px -6px #999 ;
  box-shadow: 0px 8px 6px -6px #333 !important ;
  margin-top: 10px;
  margin: auto 0;
  background-color: rgb(255, 255, 255) !important;
  position: fixed !important;
  z-index: 3;
}

.navbar-toggler{
  float: right !important;
  margin-left: 40px !important;
  
}
#tradeItem{
  display:block !important;
  margin: auto !important;
}
.card:hover{
  box-shadow: 10px 8px 20px -6px rgba(51, 51, 51, 0.842) !important 
}


.homeImage {
  margin-top: 25px;
  margin-bottom: 20px;
  // width:2000px !important;
  width:100%!important;
  height: auto!important;
  // height:400px !important;
  position:relative;
  z-index: 0
  
}

.fa{
  margin-top: 10px;
  margin-bottom: 20px;
}

.jumbotron, .jumbotron-fluid{
 
 margin: 0 auto;
 margin-top:150px ;
 box-shadow: 0px 8px 6px -6px rgb(156, 156, 156) !important ;
 border: 1px solid magenta;
 padding: .5%;
 width: 75%;
 text-align: center;
 

}


.container, .display-3, .lead, .my-4{
  border: magenta;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1vb;
}

.my-4{
  width: 88%;
}