h1{
  color:red;
}


.navbar-item{
  
   font-family: Georgia, 'Times New Roman', Times, serif;
   float: right !important;
   color: blue !important;
   font-size: 20px;
   
 }
 
 
 #greeting{
   float:right;
 }
 .input{
   max-width: 30%;
 }
 
 .NavBar{
   color:white;
 }
 
  img {
   max-height: 5.75rem !important;
   display: inline;
 }
 
 .navlinks{
   margin-top:29px;
 }